# [Reference](https://docs.netlify.com/configure-builds/file-based-configuration/#sample-file)

[build]
  command="npm run build"
  functionsSource = "src/netlify-functions"
  functions = "dist/netlify-functions"
  publish = "dist"

[[headers]]
  [headers.values]
    Content-Security-Policy = "worker-src cdn.lr-ingest.io"
