* {
  font-family: source-sans-pro, sans-serif;
  cursor: default;
  font-weight: 300;
  line-height: 1.3em;
}

a,
a * {
  color: #966b40;
  cursor: pointer;
  text-decoration: none;
}

body {
  font-size: 1.23607rem;
  margin: 0;
}

button {
  cursor: pointer;
  font-size: 1.23607rem;
}

button:focus {
  outline: none;
}

em {
  font-weight: inherit;
}

h1,
h1 *,
h2,
h3 {
  font-family: piazolla, serif;
}

h1 {
  font-size: 3.23606rem;
}

h2,
h3 {
  text-align: center;
}

h2 {
  margin-top: 0.4em;
  font-size: 2rem;
}

h3 {
  font-size: 1.23607rem;
  margin-top: 1em;
}

html {
  font-size: 62.5%;
  font-size: clamp(62.5%, 1.7vw, 85%);
}

i {
  color: #3b8439;
  font-style: normal;
}

input,
select,
textarea {
  font-size: inherit;
}

section {
  padding: 4em 1em 2em;
  border-radius: 5px;
}

section:first-of-type {
  padding-top: 2em;
}

section:nth-of-type(2n) {
  background-color: #f6ede2;
}

section.section--no-background {
  background-color: #fff;
}

section:nth-of-type(2n) .document {
  background-color: #ffffff;
}

.block__supertitle {
  font-size: 1.23607rem;
  color: #966b40;
}

.block__title {
  font-size: 3.23606rem;
  margin-top: 0.5rem;
}

.blog__date-and-author {
  color: #888;
  font-style: italic;
}

.blog__title {
  margin-top: 0;
}

.booking-offer {
  background-color: #f6ede2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  position: relative;
  text-align: center;
  padding-bottom: 6em;
}

.booking-offer__buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.booking-offer__detail {
  border-top: 1px solid #d9d9d9;
}

.booking-offer__entry {
  padding: 0.5em;
}

.booking-offer__price {
  font-size: 3.23606rem;
}

.booking-offer__title {
  background-color: #e5cdad;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  height: 3em;
  justify-content: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.button {
  border: none;
  font-size: 1.23607rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  max-width: 12em;
  padding: 0.5em 1em;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--2ndary {
  color: #3b8439;
}

.button--2ndary:hover {
  color: #4ba747;
}

.button--primary,
.button--primary a:any-link {
  background-color: #3b8439;
  color: #ffffff;
}

.button--primary a:any-link {
  background-color: transparent;
}

.button--primary:hover {
  background-color: #4ba747;
}

.button--sameline {
  max-height: 46px;
}

.button.button--left {
  padding-left: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.center {
  text-align: center;
}

.checklist {
  padding-inline-end: 1em;
  padding-inline-end: clamp(1em, 7vw, 3em);
  padding-inline-start: 1em;
  padding-inline-start: clamp(1em, 7vw, 3em);
  margin-bottom: 2em;
}

.checklist__item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.checklist__item::before {
  flex: 0 0 32px;
  height: 32px;
  content: " ";
  background-image: url(/imgs/check-24px.svg);
  background-repeat: no-repeat;
}

.checklist__item--kursblock-1::before,
.checklist__item--kursblock-2::before,
.checklist__item--kursblock-3::before,
.checklist__item--kursblock-4::before,
.checklist__item--kursblock-5::before {
  display: none;
}

.checklist__text {
  margin: 0 1em;
}

.currency-selector {
  text-align: center;
  margin: 0 auto 2em;
}

.currency-selector__button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #3b8439;
  margin: 0;
  padding: 0 1em;
  width: 4em;
}

.currency-selector__button:first-of-type {
  margin-right: 0.3em;
}

.currency-selector__button--active {
  background-color: #3b8439;
  color: #fff;
}

.currency-selector__buttons-wrapper {
  border: 1px solid #3b8439;
  border-radius: 11px;
  display: inline-block;
}

.customer-feedback {
  display: flex;
  flex-wrap: wrap;
}

.customer-feedback__author {
  align-self: flex-end;
  font-style: italic;
  padding-top: 0.5em;
  text-align: right;
}

.customer-feedback__content {
  font-style: italic;
  text-align: center;
}

.customer-feedback__entry {
  align-items: center;
  background-color: #e5cdad;
  border-radius: 5px;
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
  margin: 1em;
  min-width: 40%;
  padding: 3em 1em 2em;
}

.customer-feedback__entry::before {
  content: "“";
  font-size: 8.472136rem;
  font-style: italic;
}

.date {
  color: #999999;
}

.document {
  background-color: #f6ede2;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 0;
}

.document__link {
  margin-right: 3em;
  display: flex;
  color: #000000;
}

.document__link::before {
  flex: 0 0 32px;
  content: " ";
  background-image: url(/imgs/insert_drive_file-24px.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1em;
}

.document__link--list::before {
  background-image: url(./imgs/list-symbol.svg);
}

.document__link--memo::before {
  background-image: url(/imgs/layers-24px.svg);
}

.document__link--further-information::before {
  background-image: url(/imgs/find_in_page-24px.svg);
}

.document__link--practice::before {
  background-image: url(./imgs/edit-symbol.svg);
}

.document__link--roadmap::before {
  background-image: url(/imgs/map-24px.svg);
}

.document__link--summary::before {
  background-image: url(/imgs/description-24px.svg);
}

.document__link--strategy::before {
  background-image: url(/imgs/article-24px.svg);
}

.early-bird__icon {
  position: absolute;
  height: 64px;
  top: -48px;
  left: 75%;
}

.footer {
  background-color: #966b40;
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
  font-size: 1.23607rem;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 1em 1em 0;
}

.form--narrow {
  max-width: 550px;
}

.form__buttons {
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 2.3em 0 0 1em;
}

.form-aligned {
  margin: 1em 0 2em 1em;
}

.form-buttons--dual {
  justify-content: space-between;
}

.form-buttons--sameline {
  flex-grow: 0;
  flex-basis: auto;
}

.form-entry {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1em 0 0 1em;
}

.form-entry--fullwidth {
  flex-basis: 100%;
}

.form-entry--halfwidth {
  flex-basis: 40%;
  min-width: 12em;
}

.form-entry__help {
  margin: 0.3em 0 0 0.3em;
  color: #c23934;
  font-size: 1.23607rem;
}

.form-entry__input {
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.form-entry__label {
  margin-right: 0.5em;
  margin-left: 0.3em;
}

.form-entry--radio-container {
  flex-direction: row;
  align-items: center;
}

.form-entry__radio-input {
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-entry__radio-label {
  margin: 0 2rem 0 0;
}

.form-entry__radio-label--disabled {
  color: #aaaaaa;
}

.form-entry__required {
  text-decoration: none;
}

.gdpr {
  align-items: center;
  background-color: #e5cdad;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 0 1em;
  position: fixed;
  width: 100vw;
}

.gdpr__button {
  margin-left: 1em;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header--left {
  text-align: left;
}

.header--fixed {
  margin-bottom: 70px;
}

.header--fixed .header__content {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 80;
}

.header__content {
  position: relative;
  background-color: #e5cdad;
  display: flex;
  justify-content: flex-end;
}

.header__emotion {
  align-items: center;
  background-image: url(/imgs/mother-father-and-baby-child-on-a-white-bed-mini-cropped.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  height: 200px;
  width: 156px;
}

.header__home {
  height: 204px;
  position: absolute;
  left: 0;
  top: -144px;
}

.header__play-video {
  background-color: transparent;
  background-image: url(/imgs/play_arrow-24px.svg);
  background-position: center;
  background-size: contain;
  border: 3px solid #895929;
  border-radius: 50%;
  display: block;
  height: 5em;
  margin: 4.5em auto 0.5em;
  opacity: 0.5;
  width: 5em;
}

.header__play-video:hover {
  opacity: 1;
}

.header__teaser {
  display: none;
}

.hero__subjektorientiert {
  font-size: 1.23607rem;
  margin: 0;
}

.hero__supertitle {
  font-size: 1.23607rem;
  color: #966b40;
  margin-bottom: 0.1rem;
}

.hero__title {
  margin: 0;
}

.hidden {
  display: none;
}

.img {
  border-radius: 5px;
  margin-top: 1em;
  width: 100%;
}

.modal {
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.modal--open {
  display: flex;
}

.modal__close {
  background-color: transparent;
  background-image: url(/imgs/close-24px--brown.svg);
  background-position: center;
  background-size: contain;
  border: none;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
}

.modal__scrim {
  background-color: #895929;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  width: 100%;
}

.modal__video {
  height: 0;
  max-width: 800px;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.modal__video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #966b40;
  align-items: flex-end;
  padding: 12px;
  box-sizing: border-box;
  min-height: 56px;
}

.nav::before {
  width: 28px;
  height: 28px;
  margin-bottom: 2px;
  content: " ";
  background-image: url(/imgs/menu-bars--brown.svg);
  cursor: pointer;
}

.nav.nav--active::before {
  background-image: url(/imgs/close-24px--brown.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav--active .nav__entry {
  display: block;
}

.nav__entry {
  display: none;
  margin: 5px;
  text-align: right;
}

.nav__entry--2ndary {
  margin-right: 16px;
}

.nav__entry--primary {
  border: 3px solid #966b40;
  border-radius: 5px;
  font-weight: 800;
  letter-spacing: 0.05em;
  padding: 5px 10px;
}

.nav__entry--primary > a {
  font-weight: 800;
}

/* this rule is needed to override user agents stylesheets */
.nav a {
  color: #966b40;
  text-decoration: none;
}

.offer-selector {
  display: flex;
}

.offer-selector__button {
  border: solid #966b40;
  border-width: 1px 1px 3px 1px;
  border-bottom-width: 3px;
  border-radius: 5px 5px 0 0;
  flex: 1 0 0;
  font-weight: 300;
  height: 4.5em;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase;
}

.offer-selector__button--active {
  border-width: 3px 3px 0 3px;
  font-weight: 600;
}

.offer-selector__button--alone {
  background-color: #e5cdad;
}

.offer-selector__button--group {
  background-color: #f6ede2;
}

.offers {
  border: solid #966b40;
  border-width: 0 3px 3px 3px;
  padding: 2em 1em 1em;
}

.offers-wrapper {
  box-shadow: 5px 5px 2px #966b40;
  border-radius: 0 0 5px 5px;
}

.offers__offer {
  display: none;
}

.offers__offer--active {
  display: block;
}

.page--modal-is-open {
  filter: blur(4px);
}

.payment-method {
  align-items: center;
  border-radius: 4px;
  background-color: #2c2e2f;
  border: none;
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 45px;
  justify-content: center;
  letter-spacing: 0.05em;
  margin: 0 auto -10px;
  max-width: 750px;
  width: 100%;
}

.paypal-button-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  /* Workaround to hide container behind header. Unclear why this is necessary. */
  opacity: 0.999;
}

.post-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.post-list li:last-of-type .post-list__post {
  border-width: 0;
}

.post-list__content {
  color: #000;
  margin: 1.4em 0;
}

.post-list__date-and-author {
  font-size: 1.23607rem;
  color: #888;
  font-style: italic;
}

.post-list__img {
  max-width: 100%;
}

.post-list__post {
  align-items: flex-start;
  border: 1px solid #966b40;
  border-image: linear-gradient(to right, #fff0, #966b40, #fff0) 30;
  border-width: 0 0 1px 0;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 2em;
  margin: 2em 0 0em;
}

.post-list__title {
  text-align: left;
}

.profile {
  display: flex;
  padding: 12px 12px 12px 0;
}

.profile::before {
  width: 32px;
  height: 32px;
  content: " ";
  background-image: url(/imgs/account_box-24px.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.scroll-offset {
  display: block;
  position: relative;
  top: -5em;
}

.shopping-cart {
  display: flex;
}

.shopping-cart__label {
  margin-right: 1em;
}

.speech-bubble {
  margin: 2em 0;
  width: 80%;
}

.speech-bubble__clear {
  clear: both;
  content: "asdf";
}

.speech-bubble--left {
  float: left;
  margin-right: 1em;
}

.speech-bubble--right {
  float: right;
  margin-left: 1em;
}

span {
  font-weight: inherit;
}

strong {
  font-weight: bold;
}

.ul--3-dots {
  list-style-type: "… ";
}

.value-proposition {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

.value-proposition__description {
  text-align: center;
}

.value-proposition__entry {
  background-color: #fff;
  border: 1px solid #996b40;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #966b40;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 0.5em 2em;
  max-width: 30em;
  min-width: 9em;
  padding: 1em;
  flex-direction: column;
  align-items: center;
}

.value-proposition__icon {
  margin-bottom: 0.5em;
  width: 25%;
}

.value-proposition__sample {
  align-self: flex-end;
  background-color: #f6ede2;
  border-radius: 5px;
  font-weight: 800;
  margin-top: 0.5em;
  padding: 0.5em 1.5em;
}

.value-proposition__space {
  flex-grow: 1;
}

.value-proposition__titie {
  color: #966b40;
  font-size: 2rem;
  font-weight: 800;
  margin-block-end: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

.video-cover {
  max-width: 100%;
}

.video-name {
  font-size: 1.23607rem;
}

.vimeo-video__container {
  width: calc(100%-5px);
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.vimeo-video__iframe {
  border: 1px solid #e5cdad;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 525px) {
  .payment-method {
    font-size: 20px;
    height: 55px;
  }
}

@media screen and (min-width: 550px) {
  .form--narrow {
    margin: 0 auto;
  }

  .header__teaser {
    color: #895929;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 580px) {
  .nav:not(.nav--kurs) {
    flex-direction: row;
    align-items: center;
  }

  .nav:not(.nav--kurs)::before {
    display: none;
  }

  .nav:not(.nav--kurs) .nav__entry {
    margin: 0 10px;
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .offer-selector__button {
    border-width: 3px 3px 0 3px;
    flex: 1 0 0;
  }

  .offer-selector__button--alone {
    margin-right: 0.5em;
  }

  .offer-selector__button--group {
    margin-left: 0.5em;
  }

  .offer__space {
    flex: 1 0 0;
  }

  .offers {
    display: flex;
    border: none;
    padding: 0;
  }

  .offers-wrapper {
    box-shadow: none;
  }

  .offers__offer {
    border: 3px solid #966b40;
    border-radius: 0 0 5px 5px;
    border-width: 0 3px 3px 3px;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding: 1em;
  }

  .offers__offer--alone {
    margin-right: 0.5em;
  }

  .offers__offer--group {
    margin-left: 0.5em;
  }

  .post-list__content {
    margin-left: 1em;
  }

  .post-list__img {
    max-width: 38%;
  }

  .post-list__post {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  .button--sameline {
    max-height: 54px;
  }

  .header--fixed {
    margin-bottom: 78px;
  }

  .header--fixed .header__content {
    max-width: 900px;
    margin: 0 auto;
  }

  .hero__supertitle {
    margin-bottom: 0.1rem;
  }

  .nav:not(.nav--kurs).nav__entry {
    margin: 0 12px;
  }

  .page {
    max-width: 900px;
    margin: 0 auto;
  }

  .value-proposition__entry {
    min-width: 26%;
  }
}
